@model CreateTeamVM
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-4 col-md-6 form-group">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input asp-for="Image" class="form-control" placeholder="Image">
            <span asp-validation-for="Image"></span>
        </div>
        <div class="col-lg-4 col-md-6 form-group mt-3">
            <select class="form-select shadow-none p-0 border-0 form-control-line" asp-for="WorkTypeId">
                @foreach (var item in Model.WorkTypes)
                {
                    <option value="@item.Id">@item.WorkTypeName</option>
                }
            </select>
        </div>
    </div>
    <div class="text-center"><button type="submit">Create Team</button></div>
</form>