@model Team
<h1>Name: @Model.Name</h1>
<h1>Work Type: @Model.WorkTypes.WorkTypeName</h1>
<h1>Image: </h1>
<img style="width:200px" src="~/assets/img/team/@Model.ProfilImage" class="img-fluid" alt="">

